# VS Code personal settings
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# User-specific files
.vscode/sftp.json
.vscode/ftp-sync.json

# Folders
.vscode/
.venv/
.github/
trash/
local/
branch/

# Files
*.lock
*.log
*.tmp
*.toml




# Large PDF files
Thesis/articles/*.pdf
