# VS Code personal settings
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# User-specific files
.vscode/sftp.json
.vscode/ftp-sync.json

# Folders
.vscode/
.venv/
.github/
trash/
local/
branch/

# Files
*.lock
*.log
*.tmp
*.toml

# Large PDF files
Thesis/articles/*.pdf

branch/
local/
trash/
backup/
Thesis/
present/
__pycache__/
*.pyc
covo.py
OVOS_VQE.py
ovos_working.py
test_urest_ups.py

